<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="testAccountsSettings" type="Web.UI.Tests.Environment.ConfigHandler, Web.UI.Tests" />
  </configSections>
  <appSettings>
    <add key="browser" value="chrome" />
    <add key="timeOut" value="10" />
    <add key="browserWindowSize" value="Maximize" />
    <add key="URL" value="http://diatom.lv/" />
  </appSettings>
  <testAccountsSettings>
    <testAccounts>
      <accountDetails name="User1" username="test.user1" password="qwerty123" />
      <accountDetails name="User2" username="test.user2" password="qwerty123" />
    </testAccounts>
  </testAccountsSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
</configuration>